.buttonHarmonistere {
    background: #77B7C9 0% 0% no-repeat padding-box;
    border-radius: 35px;
    color: #233463;
    font-weight: bold;
    margin-top: 1em;
    margin-bottom: 5px;
    padding: 1em 2em;
    border: none;
    cursor: pointer;
    text-align: center;
}

.buttonHarmonistere:hover {
    background: #233463;
    color: #FEF2E2;
}

.diceButtonModal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0.4em;
    border-radius: 20px;
    border: 3px solid transparent;
    width: 6.9em;
    height: 3.2em;
    cursor: pointer;
    transition: border-color 0.2s ease;

}

.isSelected, .diceButtonModal:hover {
    border: 3px #233463 solid;
}

.rollResetButton {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 35px;
    color: #233463;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    letter-spacing: 0.03em;
    margin : 0.8em;
    margin-top: 0em;
    padding: 0.5em 1.5em;
    min-height: 3.5em;
    cursor: pointer;
    width: 18em;
}

.rollButton {
    background-color: #A0D6E5;
    border: none;
}

.resetButton {
    background-color: #FFF9F0;
    border: 3px #8FD7EA solid;
}