input[type="checkbox"].checkboxModal {
    width: 15px;
    height: 15px;
    border: 3px solid #A0D6E5;
    border-radius: 50%;
    appearance: none;
    -webkit-appearance: none;
    outline: none;
    cursor: pointer;
    background-color: #FFF9F0;
    margin: 0 0.6em;
}

input[type="checkbox"].checkboxModal:checked {
    background-color: #A0D6E5;
}