.yourAvatar {
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
    display: block;
}

.iconElement {
    width: auto;
    height: 12px;
    padding: 0;
    margin: 0;
}

.loupeRelation {
    width: 1.1em;
    height: 1.1em;
}

.iconProperties {
    width: 2.4em;
    height: 2.4em;
}

.injuredIcon {
    width: 1.3em;
    height: auto;
    cursor: pointer;
}

.absoluteIcons {
    width: 115px;
    height: 115px;
    position: absolute;
    bottom: -4%;
    cursor: pointer;
    transition: transform 0.2s ease;
    transition: filter 0.2s ease;
}

.absoluteIcons:hover {
    transform: scale(1.05);
    filter: brightness(1.1);
}

.manoeuverIcon {
    z-index: 3;
    left: 4em;
}

.diceIcon {
    z-index: 2;
    left: 10em;
}

.iconClicked {
    bottom: 5em;
}