.avatarInfoPolice {
    color: #5FA6CE;
    text-align: center;
    font-size: 0.9em;
    font-weight: 600;
}

.avatarPersonnalityTitlePolice {
    font-size: 1.2em;
    font-weight: bold;
    margin-top: 1.5em;
    line-height: 0.5;
}

.avatarPersonnalityPolice {
    font-size: 1em;
    font-weight: 500;
    margin-bottom: 1em;
}

.avatarPersonnalityTitlePoliceInversed {
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 1.5em;
    line-height: 0.5;
}

.avatarPersonnalityPoliceInversed {
    font-size: 1em;
    font-weight: 500;
    margin-top: 1em;
}

.relationLinePolice {
    font-size: 1em;
    font-weight: bold;
}

.relationshipPolice {
    font-size: 1em;
    font-weight: 500;
}

.iconNumber {
    background-color: #A0D6E5;
    border-radius: 15px;
    color: #FFF9F0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.iconNumberModifiable {
    background-color: #A0D6E5;
    cursor: pointer;
}

.iconNumberLimit {
    background-color: #d6edf5;
}

.alignCenter {
    text-align: center;
}

.lessOpaquePolice {
    font-size: 0.8em;
    font-style: italic;
    opacity: 0.65;
    font-weight: lighter;
    position: relative;
    bottom: 0.4em;
}

.detailsCaracPanel {
    font-size: 0.85em;
}

.caracValuePolice {
    font-weight: bold;
    font-size: 0.8em;
}

.footerCaracPolice {
    margin-left: 0.3em;
}

.buttonLauncherTitle {
    font-size: 0.85em;
    font-weight: bold;
}

.buttonLauncherPolice {
    font-size: 0.65em;
}

.focusPoints {
    font-size: 0.9em;
    font-weight: bold;
    line-height: 1.2em;
}

.grandFocus {
    color: #A0D6E5;
    font-size: 2.3em;
    font-weight: bold;
    margin-right: 0.2em;
}

.showDices {
    font-size: 0.9em;
    font-weight: 800;
}

.showResults {
    font-size: 1.2em;
    font-weight: bold;
}

.verticalLine {
  width: 3px;
  height: 19px;
  background-color: #E3CCAF;
}
