.avatarInfoPolice {
    color: #5FA6CE;
    text-align: center;
    font-size: 0.9em;
    font-weight: 600;
}

.avatarPersonnalityTitlePolice {
    font-size: 1.2em;
    font-weight: bold;
    margin-top: 1.5em;
    line-height: 0.5;
}

.avatarPersonnalityPolice {
    font-size: 1em;
    font-weight: 500;
    margin-bottom: 1em;
}

.avatarPersonnalityTitlePoliceInversed {
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 1.5em;
    line-height: 0.5;
}

.avatarPersonnalityPoliceInversed {
    font-size: 1em;
    font-weight: 500;
    margin-top: 1em;
}

.relationLinePolice {
    font-size: 0.8em;
    font-weight: bold;
}

.relationshipPolice {
    font-size: 0.8em;
    font-weight: 500;
}