.cornerLeftTitle {
    font-family: 'Righteous';
    font-size: 3em;
    margin : 0.5em 0 0 1em;
    padding: 0;
    font-weight: 300;
    line-height: 1.3;
}

.cornerLeftLightTitle {
    color: #FAF4E7;
}

.cornerLeftBluetTitle {
    color: #a0d6e5;
}

.blueHarmonistereTitle {
    font-family: 'Righteous';
    color: #5EA7CE;
    font-size: 3em;
    text-align: center;
    position: relative;
    top: 1.2em;
}

.blueHarmonistereSheetTitle {
    font-family: 'Righteous';
    color: #5EA7CE;
    font-size: 3em;
    font-weight: 500;
}

.avatarName {
    font-family: 'Righteous';
    font-size: 2.5em;
    padding: 0;
    font-weight: 500;
    color: #5EA7CE;
    text-align: center;
    line-height: 2;
}

.manoeuverModalTitle {
    font-size: 1.1em;
 }

@media only screen and (min-width: 0px) and (max-width:768px) {

    .cornerLeftTitle {
        display: none;
    }

    .blueHarmonistereTitle {
        font-size: 2.5em;
        top: 0.5em;
    }

    .blueHarmonistereSheetTitle {
        font-size: 2em;
    }
}