#creationSheetAll {
    color: #233463;
    overflow-x: hidden;
}

#creationSheetAll input {
    font-size: 1em;
    background-color: #FEF2E2;
}

#creationSheetAll select {
    font-size: 0.9em;
    background-color: #FEF2E2;
}

#creationSheet {
    position: relative;
    left: 40vw;
    z-index: 2;
}

#creationSheetBothImages {
    height: 100vh;
    position: absolute;
    display: flex;
}

#imageLeftSheet {
    /* position: absolute; */
    z-index: -1;
    left: 0;
    top: -15px;
    /* height: 120vh; */
    min-height: 100%;
    object-fit: cover;
}

#imageRightSheet {
    /* position: absolute; */
    z-index: 1;
    top: -13px;
    margin-left: -30vh;
    /* height: 120vh; */
    min-height: 100%;
    width: 95vw;
    object-fit: cover;
}


.chapter {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.disappear {
    display: none;
}

/* .appear {
    display: inline;
} */

.helpPopup {
    align-self: start;
    border: solid 1px black;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    text-align: center;
}

.previousButton {
    margin-top : 1em;
    margin-right: 1em;
    cursor: pointer;
}

.bottomFormButtons {
    display: flex;
    align-items: center;
}

.allChapters {
    max-width: 60vw;
    display: flex;
    justify-content: space-between;
}

.chapterForm {
    min-width: 23vw;
    max-width: 30%;
    min-height: 35vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.sideForm {
    max-width: 30%;
    margin-right: 20%;
    display: flex;
    flex-direction: column;
    align-items: end;
}

.sideTextForm {
    font-size: 0.85em;
    padding: 2em;
    background: #FFF9F0 0% 0% no-repeat padding-box;
    border-radius: 30px;
}

.iconeQuestion {
    position: relative;
    bottom: 25px;
    right: 15px;
    width: 60px;
}

#benderDiv {
    text-wrap: nowrap;
}

#benderBool {
    font-size: 0.9em;
    margin-top: 25px;
    margin-right: 5px;
}


/* ATTENTION, CECI DOIT ETRE CREE EN MODULES PAR LA SUITE, IL CONCERNE SELECTCHARACTERISTICS */

#characForm {
    display: flex;
}

#inne, #acquis {
    display: flex;
    flex-direction: column;
}


/* ATTENTION, CECI DOIT ETRE CREE EN MODULES PAR LA SUITE, IL CONCERNE FOURTCHAPTERSHEETS */

#textarea-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.textarea-fourth {
    padding: 1em 2.5em;
}

@media only screen and (min-width: 0px) and (max-width:767px) {

    #creationSheetAll input {
        font-size: 1em;
        background-color: red;
    }

    #imageLeftSheet {
        display: none;
    }

    #creationSheetBothImages {
        min-height: 250vh;
        min-width: 150vw;
    }

    #imageRightSheet {
        background-image: none;
        position: relative;
        top: 0px;
        object-fit: cover;
        margin-left: 0px;
        min-width: 125vw;
    }


}