.csMainPanel {
    background-color: #FFF9F0;
    color: red;
    border-radius: 50px;
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-rows: 30% 30% 40%;
    padding: 2em;
    justify-content: center;
    align-items: center;
}

.characterAvatar {
    grid-row: 1/2;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.characterInfo {
    grid-row: 2/3;
}

/*Le CSS de characterCircle est à trouver dans circle.police.css*/

.csPanelStyle {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.csPanelHeader {
    background-color: #DBC09A;
    color: #FFF9F0;
    border-radius: 50px 50px 0 0;
    text-align: center;
    font-size: 1.1em;
    font-weight: 600;
    padding: 0.6em 0;
    flex-shrink: 0;
}

.csPanelMain {
    background-color: #FFF9F0;
    border-radius: 0 0 30px 30px;
    width: 100%;
    flex-grow: 1;
    overflow-y: auto;
    padding-right: 15px;
}

.relationPanel {
    overflow-y: auto;
    padding: 1em 1em 0.3em 2em;
    color: #233463;
    max-height: 30vh;
}

.relationPanel::-webkit-scrollbar {
    width: 5px;
}

/* Fond de la scrollbar */
.relationPanel::-webkit-scrollbar-track {
    background: #F6E5CE;
    border-radius: 4px;
    height: 80%;
    margin-top: 30px;
    margin-bottom: 30px;
}

/* Barre elle-même */
.relationPanel::-webkit-scrollbar-thumb {
    background: #DBC09A;
    border-radius: 4px;
    margin-top: 20px;
    margin-bottom: 20px;
    background-clip: content-box;
}

.relationLine {
    display: grid;
    grid-template-columns: 40% 40% 10%;
    justify-content: space-between;
}

.hrStyle {
    background-color: #F6E5CE;
    border: none;
    height: 1px;
    margin-top: 4px;
    margin-bottom: 15px;
    opacity: 0.7;
}