.navbarHarmonistere {
    list-style-type: none;
    text-align: center;
    padding-left: 0;
    display: flex;
    position: absolute;
    z-index: 5;
}

.beigeNavbarHarmonistere {
    color: #FAF4E7;
}

.blueNavbarHarmonistere {
    color: #233463;
}

.navbarLiHarmonistere {
    text-decoration: none;
    color: inherit;
    text-align: center;
    padding: 1em;
    font-size: 1em;
}

.navbarLiHarmonistere:active {
    font-weight: bold;
}

.navbarCharacter {
    background-color: #fff9f0;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    padding: 0.6em 0.4em;
    border-radius: 41px;
}

.navbarCharacterLiDefault {
    font-size: 1.1em;
    font-weight: 600;
    padding: 0.4em 2.6em;
}

.navbarCharacterLi {
    color: #DBC09A;
}

.navbarCharacterLiActive {
    color: #FFF9F0;
    background-color: #A0D6E5;
    border-radius: 35px;
}

@media only screen and (min-width: 0px) and (max-width:768px) {

   .navbarHarmonistere {
        top: 0;
        right: 50%;
        left: auto;
        transform: translateX(+65%);
        flex-wrap: wrap;
        width: 450px;
    } 
   
    .navbarLiHarmonistere {
        padding: 0.1em 0.6em 0 0.6em;
        white-space: nowrap;
    }
}

@media only screen and (min-width: 768px) and (max-width:1324px) {

    .navbarHarmonistere {
        top: 0.1em;
        right: 0;
    }

    .navbarLiHarmonistere {
        padding-top: 0.2em;
    }
}

@media only screen and (min-width: 1324px) {

    .navbarHarmonistere {
        top: 1%;
        right: 3%;
    }

    .navbarLiHarmonistere {
        padding: 1em;
    }
}

@media only screen and (min-height: 0px) and (max-height:580px) {

    .navbarLiHarmonistere {
    display: none;
    }
}