#contenuAccountCreation {
    background-image: url('../images/Pop-up\ 2.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 5;
    width: 50vh;
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 55px 10px 30px 10px;
    position: relative;
    overflow: hidden;
    font-size: 1.2em;
}

#scrollContainer {
    width: 100%;
    height: calc(100% - 40px);
    overflow-y: auto; /* Ajoute un scroll si le contenu est trop grand */
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
    box-sizing: border-box;
}

#contenuAccountCreation h2 {
    text-align: center;
    color: #233463;
}

#accountForm {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

#accountForm input select {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
}

#bottomAccountForm {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 11px;
    font-style: italic;
    margin-bottom: 5px;
}

#connectUnderline {
    font-weight: bold;
    cursor: pointer;
}

#connectUnderline:hover {
    border-bottom: 2px solid #212122;
}

.invalid-feedback {
    color: red;
    font-size: 0.6em;
    text-align: center;
    width: 100%;
    padding-bottom: 1em;
}

#scrollContainer::-webkit-scrollbar {
    width: 6px; /* Réduit la largeur de la barre */
}

#scrollContainer::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.5); /* Couleur de la barre */
    border-radius: 3px; /* Arrondi pour un look plus sympa */
}

#scrollContainer::-webkit-scrollbar-track {
    background: transparent; /* Fond de la scrollbar */
}

#scrollContainer::-webkit-scrollbar-track-piece:end {
    background: transparent;
    margin-bottom: 4em; 
}

#scrollContainer::-webkit-scrollbar-track-piece:start {
    background: transparent;
    margin-top: 4em;
}

.modal {
    color: blue;
}