body, html {
    height: 100%;
    margin: 0;
    padding: 0;
  }

#homeArt {
    max-width: 100%;
    max-height: auto;
    object-fit: cover;
    background: transparent linear-gradient(180deg, #1414275A 0%, #1A1A3119 100%) 0% 0% no-repeat padding-box;
    opacity: 1.34;
    z-index: -1;
}

#greatTitleHarmonistere {
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translateX(-50%);
    width: 50vw;
    height: auto;
    z-index: 7;
}


#ulMenu {
    list-style-type: none;
    text-align: center;
    padding-left: 0;
    display: flex;
    position: absolute;
    top: 1%;
    right: 3%;
    color: #FAF4E7;
}

#ulMenu li {
    text-decoration: none;
    color: inherit;
    text-align: center;
    padding: 1em;
    font-size: 1em;
}

a:link,
a:visited {
    color: inherit;
    text-decoration: none;
}

#connexionButtonPopup {
    padding-top: 1em;
    color: #e6c200;
    cursor: pointer;
}