body, html {
    height: 100%;
    margin: 0;
    padding: 0;
}

#homeArt, #degradeArt {
    max-width: 100%;
    max-height: auto;
    object-fit: cover;
}

#homeArt {
    z-index: -4;
    position: relative;
}

#degradeArt {
    z-index: -3;
    position: absolute;
    top: 0;
    left:0;
}

#greatTitleHarmonistere {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
    width: 55vw;
    height: auto;
    z-index: 7;
    margin-bottom: 7em;
}

#deconnectLi, #inscriptionLi {
    cursor: pointer;
}

a:link,
a:visited {
    color: inherit;
    text-decoration: none;
}

#connexionPanelTotal {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 5;
}

.active {
    font-weight: bold;
}