body {
    background: linear-gradient(123deg, #FEF2E2 0%, #EFD9BC);
    height: 100vh;
    overflow: hidden;
}

.layoutPageCS {
    display: grid;
    grid-template-rows: auto auto 1fr;
    height: 100vh;
}

#characterSpaceHeader {
    display: grid;
    grid-template-columns: 35% 55% 10%;
}

#navbarCharacter {
    grid-column: 2/3;
    height: 100%;
    justify-self: start;
    text-align: center;
}

#iconCharacterSpace {
    align-self: end;
    grid-column: 3/4;
    color: red;
    display: flex;
}

.oneIcon {
    align-self: start;
    border-radius: 50%;
    background-color: #FFF9F0;
    width: 2.5em;
    height: 2.5em;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0.3em;
}

#characterSpaceMain {
    height: 65vh;
    margin: 2.5em 4em 3em 4em;
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 3em;
    overflow-y: auto;
}

#CSPanelOne,
#CSPanelTwo,
#CSPanelThreeFour,
#CSPanelFive {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    align-self: stretch;
    justify-self: stretch;
}

#CSPanelOne {
    grid-column: 1/3;
    grid-row: 1/3;
}

#CSPanelTwo {
    grid-column: 3/6;
    grid-row-start: 1/2;
}
#CSPanelThreeFour {
    grid-column: 3/6;
    grid-row-start: 2/3;
}

#CSPanelFive {
    grid-column: 6/10;
    grid-row: 1/3;
}